@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

 
body{
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
 html {
   scroll-behavior: smooth;
}
/* *********************/
/* seccion I N I C I O */
/* *********************/


#inicio .contenido header {
   background-color: rgba(0, 0, 0, 0.8);
   width: 100%;
}

#inicio .contenido header .contenido-header {
   max-width: 1900px;
   margin: 0px;
   display: flex;
   justify-content: space-evenly;
   padding: 0px 0px;
   background-color: rgba(0, 0, 0, 0.8);
}

#inicio .contenido header .contenido-header h1 {
   color: #777777;
   font-weight: 700;
   font-family: "Passero One", sans-serif;
}

#inicio .contenido header .contenido-header nav ul {
   list-style-type: square;
   color: #fff;
   display: flex;
   align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
   text-align: right;
   text-decoration: none;
   color: #ffffff;
   font-weight: 300;
   transition: .5s;
   font-family: "Passero One", sans-serif;

}

#inicio .contenido header .contenido-header nav ul li a:hover {
   color: #410096;
}


#inicio .contenido header .contenido-header .seleccionado {
   color: #6c009e;
}


#inicio .contenido .presentacion a:hover {
   background-color: #8053fd;
}

#icono-nav {
    color: #fff;
    display: none;
}

#agenda {
   background: linear-gradient( rgba(71, 71, 71, 0.7), rgba(63, 63, 63, 0.7)), url("img/fondo-inicio.jpg");
   background-size: cover;
   background-position: center center;
   height: 91vh;
}

#agenda .container h1 {
   color: chartreuse;
   text-align: center;
   line-height:4;
   font-family: "Passero One", sans-serif;
   
}


#agenda .btn{
    background-color: #6c009e;
    color: #fff;
}

#agenda .table .TablaC{
   color: #ffffff;
}

#agenda td{
   color:#fff;
}

#footer{
   display: flex;
   justify-content: space-evenly;
   padding: 0px 0px;
   background-color: rgba(0, 0, 0, 0.8);
}

#footer h2{
   color: #fff;
   font-weight: 700;
   font-family: "Covered By Your Grace", cursive;
}

#footer .redes{
   display: inline-block;
   margin-left: 10px;
   transition: .5s;
}






